{% extends "layout.html" %}
{% block title %}Update Account Info{% endblock %}
{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>Update account info below</h3>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <div class="callout primary">
      <div class="grid-x grid-margin-x">
          <div class="cell large-4 medium-6 small-12">
              <p>Username: {{ username }}</p>
          </div>
          <div class="cell large-4 medium-6 small-12">
            <p>First Name: <span id='first-name-span'>{{ fname }}</span></p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <p>Last Name: <span id='last-name-span'>{{ lname }}</span></p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <p>User ID: <span id='id-span'>{{ id }}</span></p>
        </div>
      </div>
    </div>
    <div class="callout">
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fi-alert"></i> There are some errors in your form.</p>
            </div>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell large-4 medium-6 small-12">
              <label>First Name
                  <input type="text" placeholder="First Name" name="fname" id="fname">
              </label>
          </div>
          <div class="cell large-4 medium-6 small-12">
              <label>Last Name
                  <input type="text" placeholder="Last Name" name="lname" id="lname">
              </label>
          </div>
          <div class="cell large-4 medium-6 small-12">
              <br>
              <fieldset class="cell medium-6">
                  <button class="button" type="button" value="Submit" id="name-update-btn">Update Name</button>
              </fieldset>
          </div>
          </div>
        </div>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <div class="callout">
            <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-6 small-12">
                <label>Grant Access to location. Enter their username.
                    <input type="text" placeholder="username" name="add_permission_username">
                </label>
            </div>
            <div class="cell large-4 medium-6 small-12">
                <br>
                <fieldset class="cell medium-6">
                    <button class="button" type="button" value="Submit" id="add-access-btn">Grant Access</button>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="large-12 cell">
    <div class="callout">
            <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-6 small-12">
                <label>Remove Access to location. Enter their username.
                    <input type="text" placeholder="username" name="remove_permission_username">
                </label>
            </div>
            <div class="cell large-4 medium-6 small-12">
                <br>
                <fieldset class="cell medium-6">
                    <button class="button" type="button" value="Submit" id="remove-access-btn">Revoke Access</button>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="large-12 cell">
    <div class="callout">
        <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-6 small-12">
                <label>Current Password
                    <input type="password" placeholder="CurrentPassword" name="current_password" id="current_password">
                </label>
                <label>New Password
                    <input type="password" placeholder="NewPassword" name="new_password" id="new_password">
                </label>
                <label>Repeat New Password
                    <input type="password" placeholder="NewPassword" name="new_password_repeat" id="new_password_repeat">
                </label>
            </div>
            <div class="cell large-4 medium-6 small-12">
                <br>
                <fieldset class="cell medium-6">
                    <button class="button" type="button" id="update-password-btn">Update Password</button>
                </fieldset>
                <div class="cell medium-6 callout alert hide" id="password_update_error">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="large-12 cell">
    <div class="callout">
        <form action="{{url_for('update_token')}}" method="POST" data-abide novalidate>
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <div data-abide-error class="alert callout" style="display: none;">
                        <p><i class="fi-alert"></i> There are some errors in your form.</p>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-4 medium-6 small-12">
                    <label>Set API Key. Choose something randomly generated and long. WARNING! SETTING THIS WILL INVALIDATE EXISTING API TOKENS
                        <input type="text" placeholder="api_key" name="secret" required>
                        <span class="form-error">
                        Yo, you had better fill this out, it's required.
                        </span>
                    </label>
                </div>
            <div class="cell large-4 medium-6 small-12">
                <br>
                <fieldset class="cell medium-6">
                    <button class="button" type="button" value="Submit">Update API Key</button>
                </fieldset>
            </div>
        </form>
    </div>
</div>
</div>

<div class="large-12 cell">
{% if sharing_permission_list != Null %}
        <div class="callout">
        <ul id="shared-with-list">
        <h5>Location Shared With:</h5>
            {%for i in range(0,sharing_permission_count)%}
            <li id="li-{{sharing_permission_list[i]}}">{{ sharing_permission_list[i]}}</li><br>
            {%endfor%}
        </ul>
{% endif %}
</div>
</div>
</div>
</div>        
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename = 'js/account.js') }}"></script>
{% endblock %}