{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block top_menu_buttons %}
<li><a href="{{ url_for('login') }}" class="button">Login</a></li>
{% endblock %}
{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h1>Welcome to Beakon</h1>
  </div>
  <div class="large-12 cell">
      <div class="callout primary">
          Please fill out the form below to register for use.
      </div>
    </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <div class="callout">
      <form action="/register" method="POST" data-abide novalidate>
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fi-alert"></i> There are some errors in your form.</p>
            </div>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell large-4 medium-4 small-4">
            <label>Username
              <input type="text" placeholder="username" name="username" required>
              <span class="form-error">
                Yo, you had better fill this out, it's required.
              </span>
            </label>
            <div class="cell large-4 medium-4 small-4">
              <label>Password
                <input type="password" placeholder="password" name="password" id="password" required>
                <span class="form-error">
                  You forgot to enter your password genius.
                </span>
              </label>
            </div>
            <div class="cell large-4 medium-4 small-4">
              <label>Confirm Password
                <input type="password" placeholder="password" name="password-confirm" required data-equalto="password">
                <span class="form-error">
                  Hey, passwords are supposed to match!
                </span>
              </label>
            </div>
            <div class="cell large-4 medium-4 small-4">
              <fieldset class="cell medium-6">
                <button class="button" type="submit" value="Submit">Submit</button>
              </fieldset>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
